/* The main DirectSight theme */
@import "tailwindcss";

@theme {
  --font-jakarta-sans: "Plus Jakarta Sans";

  /* FONTS */
  --text-xs: 11px;
  --text-xs--line-height: 16px;

  --text-sm: 13px;
  --text-sm--line-height: 20px;

  --text-base: 15px;
  --text-base--line-height: 24px;

  --text-md: 15px;
  --text-md--line-height: 24px;

  --text-lg: 18px;
  --text-lg--line-height: 28px;

  --text-xl: 22px;
  --text-xl--line-height: 28px;

  --color-brand-25: #f7fdf9;
  --color-brand-50: #f0fdf4;
  --color-brand-100: #dcfce8;
  --color-brand-200: #bcf6d1;
  --color-brand-300: #87eeae;
  --color-brand-400: #4bdd82;
  --color-brand-500: #24c361;
  --color-brand-600: #17a24c;
  --color-brand-700: #15793c;
  --color-brand-800: #176435;
  --color-brand-900: #15522e;
  --color-brand-950: #052e17;

  --color-gray-25: #fafafa;
  --color-gray-50: #eceeec;
  --color-gray-100: #dbe1dc;
  --color-gray-200: #c2cdc5;
  --color-gray-300: #9caca2;
  --color-gray-400: #778a7e;
  --color-gray-500: #5c7064;
  --color-gray-600: #49584f;
  --color-gray-700: #3c4841;
  --color-gray-800: #333c36;
  --color-gray-900: #2d342f;
  --color-gray-950: #171c19;

  --color-plum-50: #fdf1ee;
  --color-plum-100: #fbdfd8;
  --color-plum-200: #f8c3b3;
  --color-plum-300: #f6a182;
  --color-plum-400: #f17e3f;
  --color-plum-500: #ce6b34;
  --color-plum-600: #af5a2b;
  --color-plum-700: #84431e;
  --color-plum-800: #5c2c12;
  --color-plum-900: #361707;
  --color-plum-950: #230d03;

  --color-green-50: #f2fdf0;
  --color-green-100: #dffddb;
  --color-green-200: #c1f9b9;
  --color-green-300: #8ff283;
  --color-green-400: #55e345;
  --color-green-500: #2fcd1d;
  --color-green-600: #20a811;
  --color-green-700: #1c8411;
  --color-green-800: #1b6813;
  --color-green-900: #175512;
  --color-green-950: #062f04;

  --color-blue-50: #eff9ff;
  --color-blue-100: #dbf1fe;
  --color-blue-200: #bfe8fe;
  --color-blue-300: #94dafc;
  --color-blue-400: #61c4f9;
  --color-blue-500: #3ca8f5;
  --color-blue-600: #268cea;
  --color-blue-700: #1d6fcd;
  --color-blue-800: #1f5eae;
  --color-blue-900: #1f5089;
  --color-blue-950: #173154;

  --color-red-50: #fbeeef;
  --color-red-100: #f8e0e2;
  --color-red-200: #f1c0c5;
  --color-red-300: #ec9ea7;
  --color-red-400: #e87a89;
  --color-red-500: #e44d68;
  --color-red-600: #c23b54;
  --color-red-700: #912a3d;
  --color-red-800: #671b29;
  --color-red-900: #3c0c15;
  --color-red-950: #2a060d;

  /* Semantic colors */
  --color-neutral-primary: var(--color-gray-800);
  --color-neutral-secondary: var(--color-gray-600);
  --color-neutral-hint: var(--color-gray-50);
  --color-neutral-fade: var(--color-gray-25);

  --shadow-menu: 0 2px 4px 2px rgba(0, 0, 0, 0.05);
}

@layer base {
  body {
    font-family: var(--font-jakarta-sans);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    color: var(--color-neutral-primary);
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: var(--font-weight-semibold);
  }

  .tab {
    font-size: var(--text-base);
  }
}
